@charset "utf-8";
*:focus, a:hover, a:focus, a:visited {outline: none !important;text-decoration: none !important;}
*{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
html,body{-webkit-box-sizing: border-box;box-sizing: border-box;background-color: #f5f5f5;color: #333;font-family: 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;line-height: 1.2;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-font-smoothing: antialiased;-ms-touch-action: manipulation;touch-action: manipulation;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;text-size-adjust: none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
ins,a{text-decoration:none}
ul,li{list-style: none;}
/*color类*/
.color_black{
	color: #000000 !important;
}
.color_blackGrey{
	color: #666 !important;
}
.color_red{
	color: #ec271b !important;
}
.color_white{
	color: #fff !important;
}
.color_orange{
	color: #faa857 !important;
}
.color_pink{
	color: #fe605d !important;
}
.color_aquamarine{
	color: #0dc6b6 !important;
}
.color_grassGreen{
	color: #add328 !important;
}
.color_skyBlue{
	color: #76ceff !important;
}
/*background类*/
.bg_red{
	background: #ec271b !important;
}
.bg_white{
	background: #fff !important;
}
.bg_pink{
	background: #fe605d !important;
}
.bg_aquamarine{
	background: #0dc6b6 !important;
}
.bg_grassGreen{
	background: #add328 !important;
}
.bg_skyBlue{
	background: #76ceff !important;
}
/*---------------------常用的样式---------------------*/
.mui-toast-container{
	z-index: 9999999;
}
/*滑动tab 列表*/
.mui-slider-indicator.mui-segmented-control.mui-segmented-control-inverted {
    min-height: 1.2rem;
    background: #fff;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
    font-size: .4rem;
    min-height: 1.2rem;
    line-height: 1.2rem;
    color: #666;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #e51c23 !important;
    position: relative;
}
.icon_tab .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active p,.icon_tab .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active .iconfont{
	color: #e51c23 !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active:after {
    content: '';
    height: 2px;
    position: absolute;
    left: 50%;
    margin-left: -35%;
    bottom: 1px;
    background: #e51c23;
    width: 70%;
}
.mui-table-view-cell:after{
	left: 0;
}
.mui-fullscreen .mui-segmented-control~.mui-slider-group {
    top: 1.2rem;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
    border-bottom: none;
    border-top-color: #eee;
}
.mui-table-view-cell {
    padding: .3rem .4rem;
}
.mui-table-view-cell>a:not(.mui-btn) {
    margin: -.3rem -.4rem;
    font-size: .4rem;
}
.mui-table-view .mui-media-object.mui-pull-left {
    margin-right: .3rem;
    line-height: 1.84rem;
    max-width: 1.84rem;
    height: 1.84rem;
    min-width: 2.84rem;
}
.mui-table-view .mui-media-object.mui-pull-left.lgImg {
    max-width: 2.84rem;
}
.mui-table-view .mui-media-object.mui-pull-left.headerImg{
	border-radius: 50%;
	min-width: auto;
}
.mui-media-body {
    position: relative;
    min-height: 1.84rem;
}
.mui-table-view .mui-media-body>.title {
    /* white-space: initial; */
    font-size: 0.42rem;
    line-height: 1.2;
    color: #333;
    /* display: block; */
}
.mui-media-body>p:last-child, .mui-media-body>div.adds:last-child {
    font-size: .34648rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
    line-height: 1;
}
.mui-media-body>div.adds:last-child p{
	font-size: .34648rem;
}
.mui-media-body>p:last-child>span{
	height: .5rem;
	line-height: .5rem;
}
.mui-media-body>p:last-child>span>.iconfont{
	margin-right: .1rem;
	vertical-align: text-top;
    line-height: 1;
}
.bottom1_3{
	bottom: 1.3rem;
}
.mui-table-view-cell>a:not(.mui-btn).mui-active,.mui-table-view-cell.mui-active{
	background: #fff;
}
.mui-table-view:before,.mui-table-view:after,.mui-input-group:before,.mui-input-group:after{
	display: none;
}
.mui-input-group .mui-input-row:last-child:after{
	display: none;
}
.mui-content{
	background-color: #f5f5f5;
}
.icon_tab .mui-segmented-control.mui-segmented-control-inverted .mui-control-item .iconfont {
    font-size: .6rem;
    color: #999;
}
.icon_tab .mui-segmented-control.mui-segmented-control-inverted .mui-control-item p {
    line-height: 1;
    font-size: 0.32rem;
    color: #999;
}
.mui-table-view-cell:after{
	background-color: #f2f2f2;
}

/*tabBox*/
.tab_box {
    /*background: #fff;*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}
.tab_title {
    padding: .3rem 0;
    background: #fff;
    overflow: hidden;
}
.tab_title>span {
    padding-left: .3rem;
    font-size: .42rem;
    color: #333;
    border-left: .1rem solid #E51C23;
}
.mui-scroll{
	min-height: 80vh;
}
.tab_box .mui-scroll-wrapper{
	top: 1.2rem;
}
.tab_box .tablist{
	/*padding-top: .1rem;*/
	/*background: #fff;*/
}
.tab_box .tablist li {
	position: relative;
    height: 3rem;
    background-image: url(../images/red_gan.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: .2rem 100%;
    padding-left: 0.33rem;
    margin: 0 0 .1rem 1.8rem;
}
.tab_box .tablist li.active{
	background-image: url(../images/yellow_gan.png);
}
.tab_box .tablist li>a{
	position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    width: 90%;
    min-height: 2.5rem;
    display: block;
    background-image: url(../images/bg@2x.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;
    padding: .3rem .3rem .3rem 1.2rem;
}
.explain{
	padding: 0 .3rem;
	text-align: right;
}
#threeM_oneC .explain{
	padding: .2rem .3rem 0;
}
.explain>span>span{
	display: inline-block;
	width: .3rem;
	height: .3rem;
	border-radius: 50%;
	margin-right: .15rem;
}
.orange_circle{
		background: #ffbf35;
	}
	.red_circle{
		background: #fe494f;
	}	
.tab_box .tablist p.title{
	position: relative;
	font-weight: 700;
	color: #333;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tab_box .tablist p{
    color: #999;
    font-size: 0.426rem;
    margin-bottom: 0.1rem;
}
.tab_box .tablist p span{
	font-size: .34rem;
}
.tab_box .tablist li .iconfont{
	position: absolute;
    left: -.6rem;
    font-size: .5rem;
	font-weight: 400;
	color: #fe494f;
}
.tab_box .tablist li.active .iconfont{
	color: #ffbf35;
}
.tab_box .tablist li .bandge{
	display: inline-block;
    padding: .1rem .2rem;
    line-height: 1;
    vertical-align: middle;
    border: 1px solid #fe494f;
    color: #fe494f;
    text-align: center;
    border-radius: .5rem;
}
.tab_box .tablist li.active .bandge{
	color: #ffbf35;
	border: 1px solid #ffbf35;
}
.tab_box .tablist li .cicle {
    position: absolute;
    top: 50%;
    display: inline-block;
    left: -1.45rem;
    width: 1.7rem;
    height: 0.4rem;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    background-image: url(../images/red_cicle.png);
    background-repeat: no-repeat;
    background-size: .3rem .3rem;
    background-position: right center;
    text-align: left;
    color: #fe494f;
}
.tab_box .tablist li.active .cicle {
    background-image: url(../images/yellow_cicle.png);
    color: #ffbf35;
}
.tab_box .nowYear{
	position: relative;
    top: .05rem;
    z-index: 2;
    display: inline-block;
    margin-left: 1.45rem;
    margin-top: .3rem;
    height: .9rem;
    width: .9rem;
    line-height: .9rem;
    text-align: center;
    border-radius: 50%;
    background: #fe494f;
    font-size: .28rem;
    color: #fff;
}
.btnBox{
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.submit-btn{
	display: block;
    width: 80%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background-color: #e51c23;
    color: #fff;
    border: 0px;
    margin: .3rem auto;
    border-radius: 0.08rem;
    font-size: 0.426rem;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
/*分享*/
.shareBox{
	background: rgba(0,0,0,.4) url('../images/share.png') no-repeat right top;
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.no-data-box{
	position: relative;
	background: #f5f5f5;
	text-align: center;
	height: 40vh;
	width: 100vw;
}
.load-noData{
	position: absolute;
	bottom: 0;
	right: 4vw;
	width: 100%;
	/*-webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);*/
}
.nodata_img{
	width: 40% !important;
	margin-top: .4rem;
}
.nodata{
	color: #999;
	font-size: .34rem;
}
/*load box*/
.load-box{
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	background: #f5f5f5;
}
.load-box .load-start .mui-spinner{
	position: relative;
    top: .05rem;
	vertical-align: sub;
    width: .62rem;
    height: .62rem;
    margin-right: .2rem;
}
.load-box span{
	font-size: .4rem;
	color: #666;
}
/*loading css3动画*/
#loading{
	position: absolute;
	top: 0;
	left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(255,255,255,1);
    z-index: 999;
}
#loading img{
	position: absolute;
	top: -25%;
	width: 55px;
	-webkit-animation: logo-animate 0.6s -0.1s linear infinite;
    -moz-animation: logo-animate 0.6s -0.1s linear infinite;
    -o-animation: logo-animate 0.6s -0.1s linear infinite;
    animation: logo-animate 0.6s -0.1s linear infinite;
}
.item-inner {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
}
.la-square-jelly-box.la-2x {
    width: 64px;
    height: 64px;
}
/*.la-square-jelly-box>div:nth-child(1) {
    top: -25%;
    z-index: 1;
    height: 100%;
    border-radius: 10%;
    -webkit-animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
    -moz-animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
    -o-animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
    animation: square-jelly-box-animate 0.6s -0.1s linear infinite;
    background: #e51c23;
}*/
.la-square-jelly-box>div:nth-child(2) {
    bottom: -9%;
    height: 10%;
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    -webkit-animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
    -moz-animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
    -o-animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
    animation: square-jelly-box-shadow 0.6s -0.1s linear infinite;
}
.la-square-jelly-box>div:nth-child(1), .la-square-jelly-box>div:nth-child(2) {
    position: absolute;
    left: 0;
    width: 100%;
}
.la-square-jelly-box>div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-square-jelly-box, .la-square-jelly-box>div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@-webkit-keyframes logo-animate{
	25%{-webkit-transform:translateY(25%);transform:translateY(25%)}
	50%{-webkit-transform:translateY(50%);transform:translateY(50%)}
	75%{-webkit-transform:translateY(25%);transform:translateY(25%)}
	100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes square-jelly-box-animate{
	17%{border-bottom-right-radius:10%}
	25%{-webkit-transform:translateY(25%) rotate(22.5deg);transform:translateY(25%) rotate(22.5deg)}
	50%{border-bottom-right-radius:100%;-webkit-transform:translateY(50%) scale(1, 0.9) rotate(45deg);transform:translateY(50%) scale(1, 0.9) rotate(45deg)}
	75%{-webkit-transform:translateY(25%) rotate(67.5deg);transform:translateY(25%) rotate(67.5deg)}
	100%{-webkit-transform:translateY(0) rotate(90deg);transform:translateY(0) rotate(90deg)}
}
@-moz-keyframes square-jelly-box-animate{
		17%{border-bottom-right-radius:10%}
		25%{-moz-transform:translateY(25%) rotate(22.5deg);transform:translateY(25%) rotate(22.5deg)}
		50%{border-bottom-right-radius:100%;-moz-transform:translateY(50%) scale(1, 0.9) rotate(45deg);transform:translateY(50%) scale(1, 0.9) rotate(45deg)}
		75%{-moz-transform:translateY(25%) rotate(67.5deg);transform:translateY(25%) rotate(67.5deg)}
		100%{-moz-transform:translateY(0) rotate(90deg);transform:translateY(0) rotate(90deg)}
}
@-o-keyframes square-jelly-box-animate{
	17%{border-bottom-right-radius:10%}
	25%{-o-transform:translateY(25%) rotate(22.5deg);transform:translateY(25%) rotate(22.5deg)}
	50%{border-bottom-right-radius:100%;-o-transform:translateY(50%) scale(1, 0.9) rotate(45deg);transform:translateY(50%) scale(1, 0.9) rotate(45deg)}
	75%{-o-transform:translateY(25%) rotate(67.5deg);transform:translateY(25%) rotate(67.5deg)}
	100%{-o-transform:translateY(0) rotate(90deg);transform:translateY(0) rotate(90deg)}
}
@keyframes square-jelly-box-animate{
	17%{border-bottom-right-radius:10%}
	25%{-webkit-transform:translateY(25%) rotate(22.5deg);-moz-transform:translateY(25%) rotate(22.5deg);-o-transform:translateY(25%) rotate(22.5deg);transform:translateY(25%) rotate(22.5deg)}
	50%{border-bottom-right-radius:100%;-webkit-transform:translateY(50%) scale(1, 0.9) rotate(45deg);-moz-transform:translateY(50%) scale(1, 0.9) rotate(45deg);-o-transform:translateY(50%) scale(1, 0.9) rotate(45deg);transform:translateY(50%) scale(1, 0.9) rotate(45deg)}
	75%{-webkit-transform:translateY(25%) rotate(67.5deg);-moz-transform:translateY(25%) rotate(67.5deg);-o-transform:translateY(25%) rotate(67.5deg);transform:translateY(25%) rotate(67.5deg)}
	100%{-webkit-transform:translateY(0) rotate(90deg);-moz-transform:translateY(0) rotate(90deg);-o-transform:translateY(0) rotate(90deg);transform:translateY(0) rotate(90deg)}
}
@-webkit-keyframes square-jelly-box-shadow{
	50%{-webkit-transform:scale(1.25, 1);transform:scale(1.25, 1)}
}
@-moz-keyframes square-jelly-box-shadow{
	50%{-moz-transform:scale(1.25, 1);transform:scale(1.25, 1)}
}
@-o-keyframes square-jelly-box-shadow{
	50%{-o-transform:scale(1.25, 1);transform:scale(1.25, 1)}
}
@keyframes square-jelly-box-shadow{
	50%{-webkit-transform:scale(1.25, 1);-moz-transform:scale(1.25, 1);-o-transform:scale(1.25, 1);transform:scale(1.25, 1)}
}
/*下拉刷新样式*/
.pull-top-pocket{
	position: absolute;
    left: 0;
    top: 0;
    display: block;
    /*visibility: hidden;*/
    overflow: hidden;
    width: 100%;
    height: 50px;
}
.pull-top-pocket.active{
	position: relative;
}
.pull-load{
	font-weight: 700;
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    text-align: center;
    color: #777;
}
.pull-caption {
    font-size: 15px;
    line-height: 24px;
    position: relative;
    display: inline-block;
    overflow: visible;
    margin-top: 0;
}
.mui-scroll.active{
	transform: translate3d(0px, 50px, 0px) translateZ(0px);
}
.pull-top-pocket.active .pull-caption{
	vertical-align: super;
}
.pull-top-pocket.active .mui-icon.mui-icon-pulldown{
	transform: rotate(180deg);
	transition: -webkit-transform 0.3s ease-in;
}
/*tab刷新样式*/
.mui-bar~.mui-content .mui-fullscreen {
	top: 44px;
	height: auto;
}
.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 9999;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;*/
	
	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #f5f5f5;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
	background-color: #f5f5f5;
}
.itemBox{
	min-height: .72rem;
}

